<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formulario</h1>

    <form action="/" method="post" style="width: 50%;">
      <label for="nombre">Ingrese su nombre</label>
      <input type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : "" %>">
      <hr>
      <label for="colors">Ingrese un color</label>
      <select name="colors" id="colors">
        <option value=""></option>
        <option value="rojo" <%= locals.old && old.colors == "rojo" ? 'selected' : null %> >rojo</option>
        <option value="verde" <%= locals.old && old.colors == "verde" ? 'selected' : null %>>verde</option>
        <option value="amarillo" <%= locals.old && old.colors == "amarillo" ? 'selected' : null %> >amarillo</option>
      </select>
      <hr>
      <label for="mail">Ingrese su email</label>
      <input type="email" name="mail" id="mail" value="<%= locals.old && old.mail ? old.mail : "" %>">
      <hr>
      <label for="edad">Ingrese su edad</label>
      <input type="number" name="edad" id="edad" value="<%= locals.old && old.edad ? old.edad : "" %>">
      <br>
      <label for="remember"> Recordar color</label>
      <input type="checkbox" name="remember" id="remember">
      <br>
      <button type="submit">Enviar</button>
      <% if (locals.errores) { %>
        <% errores.forEach(error => { %>
          <p> <%= error.msg %> </p>
         <% }) %>
      <% } %>
    </form>

  </body>
</html>
